footer
  .about 
    h6 1Po.st is a community of software developers. 
    = "Created for the exchange of links to good open-source projects."
  .menu
    a(href="http://1po.st/c/5661ce0b95636c200dcd8036" this="About this project") About
    a(href="https://github.com/kulakowka/1post" title="This project is open source") Github
    a(href="https://github.com/kulakowka/1post/issues" title="Please report any problems here") Issues
  