header.siteHeader
  ul.rightMenu
    if currentUser
      li
        a(href="/" + currentUser.username)= currentUser.username
      li
        a(href="/settings") settings
      li
        a.js-button-logout(href="#") logout
    else 
      li
        a(href="/login" rel="nofollow") login      
      li
        a(href="/register" rel="nofollow") register
  .logo
    a(href="/") Logo
  