header.siteHeader
  
  
  table
      tr
        th
          a(href="/") GeekHubs.com
        td(width="100%")

        if currentUser
          td
            a(href="/" + currentUser.username)= currentUser.username
          td
            a(href="/settings") settings
          td
            a.js-button-logout(href="#") logout  
        else 
          td
            a(href="/login") login      
          td
            a(href="/register") register