table
    tr
      th
        h3
          a(href="/") Sitename
      if currentUser
        td
          a(href="/" + currentUser.username)= currentUser.username
        td
          a(href="/settings") Settings
        td
          a.js-button-logout(href="#") Log out  
      else 
        td
          a(href="/login") login      
        td
          a(href="/register") register