.btn
  border 0
  padding 5px 10px
  background-color greyColor
  color blackColor
  font-size mediumFontSize
  border-radius 0
  &:hover
    text-decoration none
  &:focus 
    outline-style solid
    outline-width 2px
.btn-submit
  color white
  font-weight bold
  background-color blueColor