.embeded-link
  overflow hidden
  img 
    display block
    max-width 100px
    max-height 100px
    margin 0
    padding 0
    float right
  .embed-link-content
    margin-right 160px
    h2
      font-size 16px
      a
        color blackColor
    p
      font-size 12px
  
    