.siteHeader
  background-color blueColor
  margin 0 -10px 0px
  overflow hidden
  @media all and (min-width: minWidth)
    margin 0 -20px 0px
  .logo
    a
      font-size 20px
      line-height 40px
      display inline-block
      padding 0 10px
      color whiteColor
    a:hover
      text-decoration none
  ul.rightMenu
    float right
    margin 0
    padding 0
    li + li
      @media all and (min-width: minWidth)
        margin-left 20px
    li
      margin 0
      padding 0
      display inline-block
      a
        display inline-block
        line-height 40px
        font-size smallFontSize
        padding 0 10px
        color whiteColor