.layout
  footer
    margin 20px -10px -10
    @media all and (min-width: minWidth)
      margin 20px -20px -20px
    display block
    text-align center
    padding 20px 
    font-size 13px
    background rgba(0, 0, 0, 0.05)
    color darkGreyColor
    line-height 1.6em      
    overflow hidden
    .about
      font-size 11px
      float left
      text-align left
      h6
        font-size 12px
        margin 0
    .menu
      float right
      text-align right
      a + a
        margin-left 20px
      a
        color darkGreyColor