//- index.jade
extends ../layout.jade


block content
  
  #commentsIndex

  if currentUser
    include ./includes/form.jade
  .commentItem.commentRoot(id="comment_" + ROOT_PARENT_ID)
    .replies
      each comment in comments
        include ./includes/comment.jade

  