doctype html
html
  head
    link(rel='stylesheet', href='/css/app.css')
    block head
      title= pageTitle
    
  body
    .layout
      include ./includes/header.jade
      block content
    script(src="/js/app.js" async defer)