form.commentForm.js-form-comment
  input(type="hidden" name="parentId" placeholder="parentId" value=parentId)
  .field
    textarea.js-textarea-autosize(name="textSource" placeholder="Comment text" maxLength="100000" required value=textSource)
  .field
    button.btn.btn-submit(type="submit") Submit