extends ../layout.jade

block head
  title= user.username

block content
  if user.isDeleted
    h1 User deleted
  else
    h1
      = "Comments by "
      = user.username
  
    each comment in comments
      include ../comments/includes/comment.jade