extends ../layout.jade

block head
  title= user.username

block content
  if user.isDeleted
    h1 User deleted
  else
    h1= user.username
    p= user._id
      
    unless comments.length
      h3 No comments
    else 
      h3
        = "Total comments: "
        = user.commentsCount
    each comment in comments
      include ../comments/includes/comment.jade