//- index.jade
extends ../layout.jade


block content
  .infoPage
    h1 1Po.st is a community of open-source software developers.

    p Created for the exchange of links to good open-source projects.
    
    ul
      li You can post links to interesting open source projects.
      li You can comment on the publication of other users.
      li You can use Markdown syntax for writing publications or comments.

    p The project is open source. Source code available on github.

    p 
      a(href="https://github.com/kulakowka/1post" target="_blank") https://github.com/kulakowka/1post

    p Pull requests are welcome!