greyColor = #ddd
blackColor = #111
blueColor = deepskyblue
smallFontSize = 13px
mediumFontSize = 14px
defaultFont = "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
