form
  .field + .field
    margin-top 20px
  .field
    .field-label
      display inline-block
      font-size smallFontSize
      color blackColor
    .field-label + .field-input
      margin-top 5px
    .field-input
      border 1px solid greyColor
      font-size mediumFontSize
      display block
      padding 5px