extends ../layout.jade

block head
  title Log in

block content
  h1 Log in

  form.js-form-login
    .field
      label.field-label(for="username-field") username:
      input.field-input(id="username-field" type="text" name="username" placeholder="username" maxLength="20" required)
    .field
      label.field-label(for="password-field") password:
      input.field-input(id="password-field" type="password" name="password" placeholder="password" required)
    .field
      button.btn.btn-submit(type="submit") Log in