darkGreyColor = #aaa
greyColor = #ddd
blackColor = #111
blueColor = #4078c0
bodyColor = ghostwhite
whiteColor = white
smallFontSize = 13px
mediumFontSize = 14px
minWidth = 800px
defaultFont = "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
