.replies .commentItem
  margin-top 30px
.commentItem + .commentItem
  margin-top 30px

.commentItem
  .textHtml
    font-size mediumFontSize
    line-height 1.6em
    //background yellow
    p
      line-height 1.6em
    h1, h2, h3, h4, h5, h6
      line-height 1.2em
    
    p, h1, h2, h3, h4, h5, h6
      
      &:first-child
        margin-top 0
      &:last-child
        margin-bottom 0
    blockquote
      color #666
      margin 0
      padding 0
      padding-left 14px
      font-style italic
      position relative
      &:before
        content '>'
        position absolute
        left 0
        top 0
      

    
    
  .meta
    font-size smallFontSize - 1
    margin-top 10px
    .repliesCount,
    .reply,
    .creator,
    .createdAt,
    .permalink,
    .parentId
      margin-right 20px
    .repliesCount,
    .creator,
    .createdAt,
    .permalink,
    .parentId
      color #aaa
    .reply
      font-weight bold
  .replies
    margin-left 20px            

.commentItem.commentRoot      
  > .replies
    margin-left 0px