.replies .commentItem
  // margin-top 20px
.commentItem + .commentItem
  margin-top 0px
  
article.commentItem
  display block
  margin 0 -10px
  padding 10px 10px 5px
  position relative
  @media all and (min-width: minWidth)
    margin 0 -20px
    padding 15px 20px 5px
  &.deleted
    background-color rgba(0, 0, 0, 0.05)
    .textHtml
      text-decoration line-through
  
  .controls
    display inline-block
    vertical-align middle
    // position absolute
    // right 20px
    // top 10px
  .textHtml
    font-size mediumFontSize
    line-height 1.6em
    //background yellow
    overflow hidden
    p
      line-height 1.6em
    h1, h2, h3, h4, h5, h6
      line-height 1.2em
      a
        color blackColor
    p
      margin 0.6em 0
    h1
      font-size 1.8em
      margin 0.8em 0 0
    h2
      font-size 1.6em
      margin 1em 0 0
    h3
      font-size 1.4em
      margin 1.2em 0 0
    h4
      font-size 1.2em
      margin 1.4em 0 0
    h5
      font-size 1em
      margin 1.6em 0 0
    h6
      font-size 0.8em
      margin 1.8em 0 0
      
    p, h1, h2, h3, h4, h5, h6, pre
      
      
      &:first-child
        margin-top 0
      &:last-child
        margin-bottom 0
    blockquote
      color #666
      margin 0.6em 0
      padding 0
      padding-left 14px
      font-style italic
      position relative
      &:before
        content '>'
        position absolute
        left 0
        top 0
    
    h2
      a
        display inline
        vertical-align middle
        margin-right 5px
        &:hover
          color blueColor
        &:after
          content ''
          background: url('/images/new-tab.svg')
          width 16px
          height 16px
          display inline-block
          vertical-align middle
          margin-left: 5px
        
      
  .meta
    font-size smallFontSize - 1
    line-height 30px
    
    .repliesCount,
    .reply,
    .creator,
    .createdAt,
    .permalink,
    .parentId
      display inline-block
      margin-right 20px
      // background yellow
      
    .repliesCount,
    .creator,
    .createdAt,
    .permalink,
    .parentId
      color darkGreyColor
    .reply
      font-weight bold
  .replies
    margin-left 20px            

.commentItem.commentRoot      
  margin-top 20px
  > .replies
    margin-left 0px