.commentForm
  .field
    position relative
  textarea
    width 100%
    //min-height 1.6em
    font-size mediumFontSize
    line-height 1.6em
    padding 5px
    margin 0
    display block
    background transparent
    border 1px solid greyColor
    resize none
    border-radius 0
  textarea:focus 
    outline 2px solid blueColor
.replies .commentForm
  margin-top 30px    